// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$font-type:'Karla';
$color-primary: #6e0099;
$color-secondary: #472f5f;
$color-success:#00aa3b; 
$color_lines: #250033;
$color_violetaClaro: #dc80ff;
$color_violetaBlanco: #f8e6ff;